<!-- Loader component -->
<app-loader *ngIf="isVisible"></app-loader>

<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onRegister($event)">
      <h1>Crea una cuenta</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <input type="text" formControlName="firstName" placeholder="Nombres" />
      <input type="text" formControlName="lastName" placeholder="Apellidos" />
      <input type="email" formControlName="email" placeholder="Email" />
      <input type="text" formControlName="userName" placeholder="Username" />
      <input type="password" formControlName="password" placeholder="Password" />
      <input type="file" (change)="onFileSelected($event)" placeholder="Avatar" />
      <button type="submit">Registrar Usuario</button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h1>Iniciar Sesión</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>o puedes usar tu cuenta</span>
      <input type="text" formControlName="userName" placeholder="Username" />
      <input type="password" formControlName="password" placeholder="Password" />
      <a (click)="openPasswordRecoveryModal()">¿Olvidaste tu contraseña?</a>
      <button type="submit">Login</button>
    </form>
  </div>


  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bienvenidos nuevamente!</h1>
        <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal.</p>
        <button class="ghost" id="signIn">Regresar a Login</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Saludos, nuevos usuarios!</h1>
        <p>Ingresa tus credenciales y unete a nosotros en este proyecto.</p>
        <p>No tienes una cuenta?.</p>
        <button class="ghost" id="signUp">Registrate</button>
      </div>
    </div>
  </div>

  <!-- Password Recovery Modal -->
  <div id="passwordRecoveryModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Recuperar Contraseña</h2>
      <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onRequestPasswordReset()">
        <input type="email" formControlName="email" placeholder="Introduce tu email" />
        <button type="submit">Enviar Enlace de Recuperación</button>
      </form>
    </div>
  </div>
</div>
